<nav class="navbar navbar-default">
  <div class="container-fluid">
    <%= link_to t('title'), root_path, class: "navbar-brand" %>
    <ul class="nav navbar-nav">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Ablage<span class="caret"></span></a>
        <ul class="dropdown-menu">
          <li><a class="nav-link" href=<%= projects_path %>><%= t('helpers.titles.index', model: Project.model_name.human(:count=>2)) %><span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href=<%= new_project_path %>><%= t('helpers.titles.new', model: Project.model_name.human) %><span class="sr-only">(current)</span></a></li>
          <li role="separator" class="divider"></li>
          <li><a class="nav-link" href=<%= project_phases_path %>><%= t('helpers.titles.index', model: ProjectPhase.model_name.human(:count=>2)) %><span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href=<%= new_project_phase_path %>><%= t('helpers.titles.new', model: ProjectPhase.model_name.human) %><span class="sr-only">(current)</span></a></li>
          <li role="separator" class="divider"></li>
          <li><a class="nav-link" href=<%= resources_path %>><%= t('helpers.titles.index', model: Resource.model_name.human(:count=>2)) %><span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href=<%= new_resource_path %>><%= t('helpers.titles.new', model: Resource.model_name.human) %><span class="sr-only">(current)</span></a></li>
          <li role="separator" class="divider"></li>
          <li><a class="nav-link" href=<%= project_members_path %>><%= t('helpers.titles.index', model: ProjectMember.model_name.human(:count=>2)) %><span class="sr-only">(current)</span></a></li>
          <li><a class="nav-link" href=<%= new_project_member_path %>><%= t('helpers.titles.new', model: ProjectMember.model_name.human) %><span class="sr-only">(current)</span></a></li>
        </ul>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%= page_path('about') %>><%= t('menu.about') %></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href=<%= page_path('contact') %>><%= t('menu.contact') %></a>
      </li>
    </ul>
    <form class="navbar-form navbar-right">
      <input class="form-control" type="text" placeholder="Search">
      <button class="btn btn-success-outline" type="submit">Search</button>
    </form>
  </div>
</nav>
